<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.damajo.mapper.qaboard-mapper">
	<resultMap type="com.damajo.vo.QABoardVO" id="dbMap">
		<result property="no" column="no"/>
		<result property="pno" column="pno"/>
		<result property="id" column="id"/>
		<result property="subject" column="subject"/>
		<result property="content" column="content"/>
		<result property="regdate" column="regdate"/>
		<result property="adminres" column="adminres"/>
	</resultMap>
	<!-- 추가 -->
	<parameterMap type="hashmap" id="dbInsertMap">
		<parameter property="pno" mode="IN" javaType="java.lang.Integer"/>
		<parameter property="id" mode="IN" jdbcType="VARCHAR"/>
		<parameter property="subject" mode="IN" jdbcType="VARCHAR"/>
		<parameter property="content" mode="IN" jdbcType="VARCHAR"/>
		<parameter property="adminres" mode="IN" jdbcType="VARCHAR"/>
	</parameterMap>
	<select id="qaboardInsert" parameterMap="dbInsertMap" statementType="CALLABLE">
		{CALL qaboardInsert(?,?,?,?,?)}
	</select>
	<!-- 리스트출력 -->
	<parameterMap type="hashmap" id="dbListMap">
		<parameter property="qstart" mode="IN" jdbcType="INTEGER"/>
		<parameter property="qend" mode="IN" jdbcType="INTEGER"/>
		<parameter property="qpno" mode="IN" jdbcType="INTEGER"/>
		<parameter property="result" mode="OUT" jdbcType="CURSOR" resultMap="dbMap"/>
	</parameterMap>
	<select id="qaboardList" parameterMap="dbListMap" statementType="CALLABLE">
		{CALL qaboardList(?,?,?,?)}
	</select>
	<select id="myqaboardList" parameterMap="dbListMap" statementType="CALLABLE">
		{CALL myqaboardList(?,?,?,?)}
	</select>
	<!-- 총페이지 -->
	<parameterMap type="hashmap" id="dbTotalMap">
		<parameter property="qtotal" mode="OUT" jdbcType="INTEGER"/>
	</parameterMap>
	<select id="qaboardTotal" parameterMap="dbTotalMap" statementType="CALLABLE">
		{CALL qaboardTotal (?)}
	</select>
		<parameterMap type="hashmap" id="mydbTotalMap">
		<parameter property="qid" mode="IN" jdbcType="VARCHAR"/>
		<parameter property="qtotal" mode="OUT" jdbcType="INTEGER"/>
	</parameterMap>
		<select id="myqaboardTotal" parameterMap="mydbTotalMap" statementType="CALLABLE">
		{CALL myqaboardTotal (?,?)}
	</select>
	<!-- 수정 기능 없어요 -->
	<!-- 삭제 -->
	
	
	
	
	
	
	
</mapper>